<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../index.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="../index.js"></script>
  <title>chat app</title>
</head>
<body>

  <div class="connected"></div>

  <div class="emptyDiv"><p></p></div>

  <div class="text" id="field">
    
  </div>

  <div class="chat">
    <input type="text" placeholder="Message" id="input">
    <button id="send">Send</button>
  </div>

</body>
</html>